@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
#contacto{
    background-image: url(../images/fondo-contacto.png);
    background-size: cover;
}
#confirmacion{
    background-image: url(../images/fondo-contacto.png);
    background-size: cover;
}
#proyectos{
    background-image: url(../images/fondo-proyectos.png);
    background-size: cover;
}
#inicio{
    background-image: url(../images/fondo-contacto.png);
    background-size: cover;
}
#contacto h1, #proyectos h1, #sobre-mi h1, #confirmacion h1{
     color: #E20000;
}
#proyectos h2 {
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    padding: 0px;
    margin: 0px;
}
#idiomas .card {
    background-color: #370A6D;
    border-radius: 15px;
    padding: 40px 0;
}
#idiomas .fas {
    font-size: 80px;
    color: white;
}
#sobre-mi .card {
    height: 182px;
}
#proyectos .card p{
    height: 100px;
    font-size: 14px;
}
#experiencia h2, #formacion h2 {
    font-weight: 400;
}
#experiencia h2{
    color: #370a6d;
}
.btn{
    color: #370a6d;
    background-color: white;
    border: 0px;
}
.btn:hover{
    color:white;
    background-color: #370a6d;
}
.mi-foto{
    height: 300px;
    padding: 10px;
    border-radius: 70%;
}
#sobre-mi h2{
    font-size: 24px;
}
.experiencia-laboral{
    color: #370a6d;
}
.micv a{
    font-weight: 300 !important;
}
#sobre-mi h3{
    font-size: 15px;
    color: black;
    font-weight: 250;
}
#sobre-mi .card {
    height: 182px;
}
.experiencial {
    color: #370a6d;
}
.link-secundario{
    text-decoration: none;
    color: black;
}
.btn-rojo{
    color: white;
    background-color: #E20000;
    text-decoration: none;
    border: 1px solid #E20000;
    border-radius: 15px;
    padding: 8px;
    font-weight: 100;
}
.btn-rojo:hover{
    background-color: #370a6d;
    color: white;
}
.link-proyectos a{
    text-decoration: none;
    color: #E20000;
}
.color-gradiente{
    background: rgba(184,37,20,1);
    background: -moz-linear-gradient(left, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(184,37,20,1)), color-stop(47%, rgba(214,52,30,1)), color-stop(70%, rgba(240,47,23,1)), color-stop(100%, rgba(240,47,23,1)));
    background: -webkit-linear-gradient(left, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
    background: -o-linear-gradient(left, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
    background: -ms-linear-gradient(left, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
    background: linear-gradient(to right, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b82514', endColorstr='#f02f17', GradientType=1 );
}
.integrador img{
    height: 210px;
}
#inicio .div-cohete{
    height: 450px;
}
#inicio .cohete{
    height: 420px;
}
#inicio .cohete:hover{
    height: 440px;
}
#inicio p{
    font-size: 21px;
    border: 1px solid white;
    border-radius: 15px;
    font-weight: 500;
    color: white;
}
#sobre-mi .btn{
    background-color: #E20000;
    font-weight: 100;
}
#sobre-mi .btn:hover{
    background-color: #370a6d;
}
textarea{
    resize: none;
}
p{
    color: #6a6a6a;
}
textarea {
    height: 150px;
}
.form-control{
    border-radius: 15px;
}
.btn{
    color: #370a6d;
    background-color: white;
    border-radius: 15px;
    border: none;
    padding: 5px 20px 5px 20px;
}
.btn:hover{
    background-color: #370a6d;
    color: white;
}
.btn-whatsapp{
    width: 55px;
    height: 65px;
    color: white;
    padding: 15px 0 20px 0;
    text-align: center;
    position: fixed;
    right:70px;
    bottom: 0px;
    background-color: #370a6d;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.fa-whatsapp{
    font-size: 32px;
    color: white;
    
}
.cv{
   background-color: #E20000;
   border-radius: 15px; 
}
.cv a{
    color: white;
    text-decoration: none;
    font-weight: 10;
}
.fa-solid .fa-download{
    color: white;
}
#experiencia h2, #formacion h2, #desarrollo h2 {
    font-weight: 400;
    font-size: 24px;
}
#experiencia h3, #formacion h3, #desarrollo h3 {
    color: #6A6A6A;
    font-size: 18px;
    font-weight: 600;
}
#experiencia h4, #formacion h4, #desarrollo h4 {
    font-size: 17px;
}
#experiencia h2, #experiencia h4 {
    color: #370A6D;
}
#experiencia h5, #formacion h5, #desarrollo h5 {
    color: #6A6A6A;
    font-size: 14px;
}
#experiencia p, #formacion p{
        color: #6a6a6a;
        font-size: 16px;
}
#formacion h2, #formacion h4 {
    color: #E20000;
}
#desarrollo h2, #desarrollo h4 {
    color: #E20000;
}
#idiomas {
    background-color: #eee;
}
nav .active{
    border: 1px solid #E20000;
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
}
#contacto footer, #inicio footer, #confirmacion footer{
    color: white;
}
#contacto footer a, #inicio footer a, #confirmacion footer a{
    color: white;
}
#proyectos footer, #sobre-mi footer{
    color: #E20000;
    
}
#proyectos footer a, #sobre-mi footer a{
    color: #E20000;
}
#inicio footer .fa-github, #contacto footer .fa-github,  #confirmacion footer .fa-github {
    font-size: 30px;
    color: white;
}
#inicio footer .fa-linkedin-in, #contacto footer .fa-linkedin-in, #confirmacion footer .fa-linkedin-in{
    color: #ff4a49;
    background-color: white;
    font-size: 20px;
    border: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 8px;
}
#proyectos footer .fa-github, #sobre-mi footer .fa-github {
    font-size: 30px;
    color: #E20000;
}
#proyectos footer .fa-linkedin-in, #sobre-mi footer .fa-linkedin-in{
    color: white;
    background-color: #E20000;
    font-size: 20px;
    border: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 8px;
}
.gris{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
}
.gris:hover {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter:grayscale(0%);
}

@media (max-width: 750px){
    #contacto, #proyectos, #inicio{
        background-image: url(../images/fondo-proyectos.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
    #contacto footer a, #inicio footer a{
        color: #E20000;
    }
    #contacto footer .fa-github, #inicio footer .fa-github {
        font-size: 30px;
        color: #E20000;
    }
    #contacto footer .fa-linkedin-in, #inicio footer .fa-linkedin-in{
        color: white;
        background-color: #E20000;
        font-size: 20px;
        border: 0px;
        height: 32px;
        width: 32px;
        text-align: center;
        padding: 8px 0 0 0;
        border-radius: 80px;
        margin: 0 8px;
    }
    #contacto  .sponsor, #inicio .sponsor{
        color: #E20000;
    }
    #contacto .btn-whatsapp, #proyectos .btn-whatsapp, #inicio .btn-whatsapp, #sobre-mi .btn-whatsapp, #confirmacion .btn-whatsapp{
        right:10px;
    }
    #contacto .fa-whatsapp, #proyectos .btn-whatsapp, #inicio .btn-whatsapp, #sobre-mi .fa-whatsapp, #confirmacion .btn-whatsapp{
        font-size: 32px;
        color: white;
    }
    #contacto .btn, #inicio .btn{
        background-color: #E20000;
        color: white;
    }
    #contacto .btn:hover,  #contacto .btn:hover{
        background-color: #370a6d;
        color: white;
    }
    #inicio p{
        color: #E20000;
        border: 1px solid #E20000;
        border-radius: 15px;
        font-weight: 500;
    }
    nav .active{
        border: 1px solid #E20000;
        border-radius: 10px;
        padding: 3px 10px 3px 10px;
    }
}